
<!----------------------------------MODALES--------------------------------------------------------->
	<!----------------------------------crear--------------------------------------------------------->


<div class="modal fade" id="myModal">
		<div class="modal-dialog">
		    <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h4 class="modal-title">Ingrese los datos del empleado:</h4>
		          <button type="button" class="close" data-dismiss="modal" ng-click="reset(formulariocrear)">&times;</button>
		        </div>
		        
		        <!-- Modal body -->
		        <div class="modal-body">
		            <div > 

		            	<form class="form-group" name="formulariocrear " novalidate>
								  <table border="0">
								    <tr>
								      <td width="63"><label for="nombre">Nombre:</label></td>
								      <td width="365">
								      	<input class="form-control" id="nombre" name="nombre" type="text" ng-model="empleado.nombre"  placeholder="nombre" ng-model-options="{allowInvalid : true}" ng-minlength="1" ng-maxlength="40" required/>
								      	<span class="messages" ng-show="formulariocrear.$submitted || formulariocrear.nombre.$touched">
								         	<span ng-show="formulariocrear.nombre.$error.required">El nombre es obligatorio.</span>
								         </span>
								         <br>
								      </td>
								    </tr>
								    <tr>
								      <td><label for="edad">Edad:</label></td>
								      <td>
								      	<input class="form-control" id="edad" name="edad" type="number" ng-model="empleado.edad"  placeholder="edad entre 18-65" ng-model-options="{allowInvalid : true}" required min="18" max="65" />
								      	<span class="messages" ng-show="formulariocrear.$submitted || formulariocrear.edad.$touched">
								         	<span ng-show="formulariocrear.edad.$error.required">La edad es obligatoria.</span>
								         </span>
								      	<br>
								      </td>
								        
								    </tr>
								    <tr>
								      <td><label for="sueldo">Sueldo: </label></td>
								      <td>
								        <input class="form-control" id="sueldo" name="sueldo" type="number"  ng-model="empleado.sueldo"  placeholder="sueldo entre 9500-999999999" ng-model-options="{allowInvalid : true}" required min="9500" max="9999999999"/>
									     <span class="messages" ng-show="formulariocrear.$submitted || formulariocrear.sueldo.$touched">
								         	<span ng-show="formulariocrear.sueldo.$error.required">El nombre es obligatorio.</span>
								         </span>
								      </td>
								        <!--<p>nombre: <input type="js" ng-model="empleado.nombre"></p>-->
								    </tr>
								  </table>
						</form>
					</div>
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer">
		          <button type="submit" value = "enviar" class="btn btn-danger" data-dismiss="modal" ng-click="crear()" ng-disabled="formulariocrear.$invalid" >Crear</button>
		        </div>
		        
		    </div>
		</div>
</div>
<!---------------------------------------------------buscar------------------------------------------------------------------------------>
	<div class="modal" id="myModal2" ng-model="encontrado">
		<div class="modal-dialog">
		    <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h4 class="modal-title">Empleado encontrado.</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        
		        <!-- Modal body -->
		        <div class="modal-body">
		            <div > 
				 		<p> <b>Nombre:</b> {{encontrado.nombre}}</p>
				 		<p> <b>Id:</b> {{encontrado.id}}</p>
				 		<p> <b>Edad:</b> {{encontrado.edad}}</p>
				 		<p> <b>Sueldo:</b> {{encontrado.sueldo}}</p>
					</div>
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer">
		         <button type="button"  class="btn btn-danger" data-dismiss="modal" >Volver</button>
		        </div>
		        
		    </div>
		</div>
	</div>

	<!---------------------------------------editar---------------------------------------------------->

	<div class="modal fade" id="myModal3">
		<div class="modal-dialog">
		    <div class="modal-content">
		      
		        <!-- Modal Header -->
		        <div class="modal-header">
		          <h4 class="modal-title">Ingrese los datos del nuevo empleado:</h4>
		          <button type="button" class="close" data-dismiss="modal" ng-click="reset(formularioeditar)">&times;</button>
		        </div>
		        
		        <!-- Modal body -->
		        <div class="modal-body">
		            <div > 

		            	<form class="form-group" name="formularioeditar" novalidate>
								  <table border="0">
								    <tr>
								      <td width="63"><label for="nombre">Nombre:</label></td>
								      <td width="365">
								      	<input class="form-control" name="nombre" id="nombre" type="text" ng-model="empleado.nombre"  placeholder="nombre" ng-model-options="{allowInvalid : true}" ng-minlength="1" ng-maxlength="40"required/>
								      	
								      	 <span class="messages" ng-show="formularioeditar.$submitted || formularioeditar.nombre.$touched">
								         	<span ng-show="formularioeditar.nombre.$error.required">El nombre es obligatorio.</span>
								         </span>
								         <br>
								      </td>
								    </tr>
								    <tr>
								      <td><label for="edad">Edad:</label></td>
								      <td>
								      	<input class="form-control" id="edad" name="edad" type="number" ng-model="empleado.edad"  placeholder="edad entre 18-65" ng-model-options="{allowInvalid : true}" required min="18" max="65" />
								      	 <span class="messages" ng-show="formularioeditar.$submitted || formularioeditar.edad.$touched">
								         	<span ng-show="formularioeditar.edad.$error.required">La edad es obligatoria.</span>
								         </span>
								      	<br>
								      </td>
								        
								    </tr>
								    <tr>
								      <td><label for="sueldo">Sueldo: </label></td>
								      <td>
								        <input class="form-control" id="sueldo" name="sueldo" type="number"  ng-model="empleado.sueldo"  placeholder="sueldo entre 9500-999999999" ng-model-options="{allowInvalid : true}" required min="9500" max="9999999999"/>
								         <span class="messages" ng-show="formularioeditar.$submitted || formularioeditar.sueldo.$touched">
								         	<span ng-show="formularioeditar.sueldo.$error.required">El nombre es obligatorio.</span>
								         </span>
								         
									    
								      </td>
								        <!--<p>nombre: <input type="js" ng-model="empleado.nombre"></p>-->
								    </tr>
								  </table>
						</form>


					
					</div>
		        </div>
		        
		        <!-- Modal footer -->
		        <div class="modal-footer">
		          <button type="submit" value = "enviar" class="btn btn-danger" data-dismiss="modal" ng-click="editar()" ng-disabled="formularioeditar.$invalid" >Editar</button>
		        </div>
		        
		    </div>
		</div>
	</div>
